body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 1, 36);
}

.conteneder{
    position: relative;
}

.formulario{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    background: linear-gradient(to right, black, rgb(61, 0, 81));
    height: 80vh;
    width: 50vw;
    box-sizing: border-box;
}

form{
    text-align: center;
}

h1{
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 300;
}

select{
    width: 20vh;
    margin: 20px 0px;
    height: 3vh;
    margin-left: 10px;
}

label{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: pink;
    font-weight: 300;
}

input{
    width: 20vw;
    margin: 15px 0px;
    padding: 8px;
    border-radius: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
input:focus{
    outline: none;
}

.mensaje{
    width: 30vw;
    height: 10vh;
    resize: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.mensaje:focus{
    outline: none;
}

button{
    margin-top: 10px;
    width: 20vw;
    height: 4vh;
    border-radius: 250px;
    background-color: pink;
    border: none;
    color: black;
    cursor: pointer;

}

@media (min-width: 300px) and (max-width: 992px){
    .formulario{
        height: 90vh;
        width: 80vw;
    }
    form{
        margin-top: 50px;
    }
    h1{
        width: 80vw;
        font-size: 20px;
    }
    input{
        width: 50vw;
    }
    .mensaje{
        width: 50vw;
    }
    button{
        margin-top: 50px;
        width: 50vw;
    }
}